<h1>Create a user</h1>
<form action = "register" method = "get">
  Enter Make:<input type = "text" name = "make" /></br>
  Enter Model:<input type = "text" name = "model" /></br>
  Enter Year:<input type = "text" name = "year" /></br>
  <input type = "submit" value = "Create your car" />
</form>
